*.vs
.vs/
Debug/
*.db
Tom's Solution/Week 3 - Part A/Week 3 - Part A.asmproj
Tom's Solution/Week 3 - Part A/Week 3 - Part A.asmproj
*.asmproj
*.asmproj
Tom's Solution/Week 3 - Part E/Week 3 - Part E.asmproj
*.asmproj